<!DOCTYPE html>
<html class="preload">
<head>
	<title>Compose New | Food for Thought</title>
	<link href="/css/waves.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/composer.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
	<meta name="msapplication-tap-highlight" content="no" />
	<script type="text/javascript" src="/js/plaintext.js"></script>
	<script type="text/javascript" src="/js/waves.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body class="fullpage">

	<header>
		<div id="app-nav">
			<div id="app-menu">
				<label class="menu-link link" title="Menu">Menu</label>
				<div id="nav">
					<div class="nav-header">
						<label class="menu-link link" title="Close Menu">Close Menu</label>
						<div class="app-name"><a href="/">Food for Thought</a></div>
					</div>
					<div class="user-profile">
						<div class="user-picture"><img src="<%= user.picture %>" /></div>
						<div class="user-info">
							<div class="user-name"><%= user.displayName %><%= user.role === "admin" ? " (admin)" : "" %></div>
							<div class="user-email"><%= user.email %></div>
							<div class="user-actions"><a href="/logout">Logout</a><%- user.role === "admin" ? " <a href=\"/forceupdate\">Refresh</a>" : "" %></div>
						</div>
					</div>
				</div>
			</div>
			<div class="app-name"><a href="/">Food for Thought</a></div>
		</div>
	</header>

	<div id="main">
		<form id="composer" method="post" action="/compose">
			<div id="composer-header">
				<a href="/" id="composer-discard" class="discard-link" title="Discard">Discard</a>
				<button type="button" id="composer-submit" class="submit-link link" title="Submit Thought">Submit Thought</button>
			</div>
			<div id="composer-page" contenteditable="true">
				<% var paragraphs = draft.split("\n"); %>
				<% for (var i = 0; i < paragraphs.length; i++) { %>
				<%= paragraphs[i] %><br />
				<% } /* endfor */ %>
			</div>
			<input type="hidden" id="composer-text" name="journal" />
		</form>
	</div>

	<script type="text/javascript" src="/js/composer.js"></script>
</body>
</html>
