<!DOCTYPE html>
<html class="preload">
<head>
	<title>Access Denied | Food for Thought</title>
	<link href="/css/waves.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/intro.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
	<meta name="msapplication-tap-highlight" content="no" />
	<script type="text/javascript" src="/js/waves.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body class="fullpage">

	<header>
		<div id="app-nav">
			<div id="app-menu">
				<label class="menu-link link">Menu</label>
				<div id="nav">
					<div class="nav-header">
						<label class="menu-link link">Close Menu</label>
						<div class="app-name"><a href="/">Food for Thought</a></div>
					</div>
					<div class="user-profile">
						<div class="user-picture"><img src="<%= user.picture %>" /></div>
						<div class="user-info">
							<div class="user-name"><%= user.displayName %><%= user.role === "admin" ? " (admin)" : "" %></div>
							<div class="user-email"><%= user.email %></div>
							<div class="user-actions"><a href="/logout">Logout</a><%- user.role === "admin" ? " <a href=\"/forceupdate\">Refresh</a>" : "" %></div>
						</div>
					</div>
				</div>
			</div>
			<div class="app-name"><a href="/">Food for Thought</a></div>
		</div>
	</header>

	<div id="main">
		<div id="intro">
			<h2>Sorry, your account is not authorized to use this service.</h2>
		</div>
	</div>

</body>
</html>
