<!DOCTYPE html>
<html class="preload">
<head>
	<title>Food for Thought</title>
	<link href="/css/waves.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="msapplication-tap-highlight" content="no" />
	<script type="text/javascript" src="/js/waves.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/search.js"></script>
</head>
<body>

	<header>
		<input type="checkbox" id="search-toggle" />
		<div id="app-nav" tabindex="0">
			<div id="app-menu" tabindex="0">
				<label for="nav" class="menu-link link">Menu</label>
				<div id="nav">
					<div class="nav-header">
						<a href="javascript:void();" class="menu-link link">Close Menu</a>
						<div class="app-name"><a href="/">Food for Thought</a></div>
					</div>
					<div class="user-profile">
						<div class="user-picture"><img src="<%= user.picture %>" /></div>
						<div class="user-info">
							<div class="user-name"><%= user.displayName %><%= user.role === "admin" ? " (admin)" : "" %></div>
							<div class="user-email"><%= user.email %></div>
							<div class="user-actions"><a href="/logout">Logout</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="app-name"><a href="/">Food for Thought</a></div>
		</div>
		<form id="search-form" tabindex="0">
			<label for="search-toggle" class="search-link link">Close Search</label>
			<span class="search-box-wrap"><input type="text" placeholder="Search" id="search-box" /></span>
		</form>
		<div id="utils">
			<label for="search-toggle" id="utils-search" class="link">Search</label>
			<a href="/compose" id="utils-add">Add</a>
		</div>
	</header>

	<div id="main">
		<h2 class="page-title">Search Results</h2>

<% if (entries.length === 0) { %>
		<section class="prompt">
			<img src="/img/img-bulb.svg" />
			<h2>Capture your first thought</h2>
			<p>Tap the + button!</p>
		</section>
<% } else { %>
<% for (var i = 0 ; i < entries.length; i++) { %>
<% var entry = entries[i]; %>
<% var paragraphs = entry.text.split("\n"); %>
		<section class="journal-section">
			<div class="datetime">
				<span class="date"><%= entry.datetime.date %></span><span class="datetime-sep"> at</span><span class="time"> <%= entry.datetime.time %></span>
			</div>
			<div class="journal preview">
				<input type="checkbox" class="more-toggle" id="more-toggle-<%= i %>" />
				<div class="journal-text">
<% for (var j = 0 ; j < paragraphs.length; j++) { %>
					<p><%= paragraphs[j] %></p>
<% } /* endfor */ %>
				</div>
				<div class="journal-links"><label for="more-toggle-<%= i %>" class="more-link link"></label></div>
			</div>
			<ul class="suggestions-list">
<% for (var j = 0 ; j < entry.suggestions.length; j++) { %>
<% var suggest = entry.suggestions[j]; %>
				<li class="item">
					<div class="item-thumb"><a href="<%= suggest.link %>" style="background-image: url(<%= suggest.image %>);"></a></div>
					<div class="item-content">
						<div class="title"><a href="<%= suggest.link %>"><%= suggest.title %></a></div>
						<div class="meta source"><a href="<%= suggest.website %>"><%= suggest.source %></a></div>
					</div>
				</li>
<% } /* endfor */ %>
			</ul>
		</section>
<% } /* endfor */ %>
<% } /* endif */ %>

		<p class="search-empty">No items matched your query.</p>
	</div>

</body>
</html>
