<!DOCTYPE html>
<html class="preload">
<head>
	<title>Food for Thought</title>
	<link href="/css/waves.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
	<meta name="msapplication-tap-highlight" content="no" />
	<script type="text/javascript" src="/js/waves.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/search.js"></script>
</head>
<body>

	<header>
		<div id="app-nav">
			<div id="app-menu">
				<label class="menu-link link">Menu</label>
				<div id="nav">
					<div class="nav-header">
						<label class="menu-link link">Close Menu</label>
						<div class="app-name"><a href="/">Food for Thought</a></div>
					</div>
					<div class="user-profile">
						<div class="user-picture"><img src="<%= user.picture %>" /></div>
						<div class="user-info">
							<div class="user-name"><%= user.displayName %><%= user.role === "admin" ? " (admin)" : "" %></div>
							<div class="user-email"><%= user.email %></div>
							<div class="user-actions"><a href="/logout">Logout</a><%- user.role === "admin" ? " <a href=\"/forceupdate\">Refresh</a>" : "" %></div>
						</div>
					</div>
				</div>
			</div>
			<div class="app-name"><a href="/">Food for Thought</a></div>
		</div>
		<form id="search-form">
			<label class="search-link link">Close</label>
			<span class="search-box-wrap"><input type="text" placeholder="Search" id="search-box" /></span>
		</form>
		<div id="utils">
			<label id="utils-search" class="search-link link">Search</label>
			<a href="/compose" id="utils-add">Add</a>
		</div>
	</header>

	<div id="main">
		<h2 class="page-title">Search Results</h2>

<% if (entries.length === 0) { %>
		<section class="prompt">
			<img src="/img/img-bulb.svg" />
			<h2>Capture your first thought</h2>
			<p>Tap the + button!</p>
		</section>
<% } else { %>
<% for (var i = 0 ; i < entries.length; i++) { %>
<% var entry = entries[i]; %>
<% var paragraphs = entry.text.split("\n"); %>
		<section class="journal-section">
			<div class="datetime">
				<span class="date"><%= entry.datetime.date %></span><span class="datetime-sep"> at</span><span class="time"> <%= entry.datetime.time %></span>
			</div>
			<div class="journal preview">
				<input type="checkbox" class="more-toggle" id="more-toggle-<%= i %>" />
				<div class="journal-text">
<% var count = 0; %>
<% var limit = 350; %>
<% for (var j = 0 ; j < paragraphs.length; j++) { %>
<%     if (count + paragraphs[j].length <= limit) { %>
					<p><%= paragraphs[j] %></p>
<%     } else if (j > 5 || count > limit) { %>
					<p class="more"><%= paragraphs[j] %></p>
<%     } else { %>
					<p><span class="cont"><%= paragraphs[j].substring(0, limit-count) %></span><span class="more"><%= paragraphs[j].substring(limit-count, paragraphs[j].length) %></span></p>
<%     } /* endif */ %>
<%     count += paragraphs[j].length; %>
<% } /* endfor */ %>
				</div>
				<div class="journal-links"><label for="more-toggle-<%= i %>" class="more-link link"></label></div>
			</div>
			<ul class="suggestions-list">
<% for (var j = 0 ; j < entry.suggestions.length; j++) { %>
<% var suggest = entry.suggestions[j]; %>
				<li class="item">
					<div class="item-thumb"><a href="<%= suggest.link %>" style="background-image: url(<%= suggest.image %>);"></a></div>
					<div class="item-content">
						<div class="title"><a href="<%= suggest.link %>"><%= suggest.title %></a></div>
						<div class="meta source"><a href="<%= suggest.website %>"><%= suggest.source %></a></div>
					</div>
				</li>
<% } /* endfor */ %>
			</ul>
		</section>
<% } /* endfor */ %>
<% } /* endif */ %>

		<p class="search-empty">No items matched your query.</p>
	</div>

</body>
</html>
